*{
    padding: 0 !important;
    margin: 0 !important;
}

.main-container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow:hidden ;
}
.layout-30percent{
    width: 30%;
    height: 100%;
    padding: 0;
}
.layout-70percent{
    width: 70%;
    height: 100%;
padding: 0;
}
.video-30percent{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.video-70percent{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.layout-74percent{
width: 100%;
height: 74.4vh;
}
.layout-18percent{
    width: 100%;
    height: 18.74vh;
    }
.layout-6percent{
    width: 100%;
    height: 6.87vh;
}
.layout-80percent{
    width: 80%;
    height: 100%;
}
.layout-10percent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
.video-18percent{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.img-70percent{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.img-30percent{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.img-18percent{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
#img-30{
    display: none;
}
#img-70{
    display: none;
}
#vid-18{
    display: none;
}
.marquee {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .marquee .inner {
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    }
  .marquee .inner > * {
    white-space: nowrap;
    padding: 0 4rem;
  }
  
  .marquee .inner span {
    height: 100%;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    margin-right: 100px !important;
  }

.layout-date{
    display: flex;
    justify-content: center;
    font-size: 1vw;
}